<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Pages</title>
    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    -->
<!-- Bootstrap core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/welcome.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet"  href="/stylesheets/addUser1.css">
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>


   
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Training plus</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="#">Contact us</a></li>
                    <li><a href="#">About</a></li>
               
                    <li><a href="/users/logout">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <br><br>
   
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>
                       
                        <a href="/users/addmarks" id="id" class="list-group-item"><span
                            class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Add result</a>
                        <a href="/users/updatesubject" class="list-group-item"><span class="glyphicon glyphicon-pencil"
                                aria-hidden="true"></span> Add subject</a>
                        <a href="/users/updatemarks" class="list-group-item"><span class="glyphicon glyphicon-pencil"
                            aria-hidden="true"></span> Update result</a>
                        <a href="/users/getmarks" class="list-group-item"><span class="glyphicon glyphicon-user"
                            aria-hidden="true"></span> View result</a>

                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Add </h3>
                        </div>
                        <div class="panel-body" id="id1">
                            <p id="getPara"></p>
                            <div class="w3-content" style="max-width:1600px">

                                    <!-- Grid -->
                                    <div class="w3-row w3-padding w3-border">
                            
                                        <!-- Blog entries -->
                                        <div class="w3-col l12 s12">
                            
                                            <!-- Blog entry -->
                                            <div class="w3-container w3-white w3-margin w3-padding-large">
                                                <div class="select-boxes">
                                                    <!-- <div class="container">
                                                        <div class="col-lg-9">
                                                            <br>
                                                            <br>

                                                            
                                                       </div>
                            
                                                    </div> -->
                                                                 <legend>Add Result</legend>                             
                                                    <div class="panel-body">

                                                        <div class="container-fluid">
                                                            <form>
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-6">
                                                                        <label for="batch_name">Batch Name</label>
                                                                        <input type="text" class="form-control" id="batch_name" placeholder="Batch Name">
                                                                    </div>
                                                                    <div class="form-group col-md-6">
                                                                        <label for="subject_name">Subject Name</label>
                                                                        <input type="text" class="form-control" id="subject_name" placeholder="Subject Name">
                                                                    </div>
                                                                </div>
                                                                <div class="text-right">
                                                                <button type="button" class="btn btn-info " id="get_info">Get Info</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <div class="tbl_user_data"></div>
                                                        <div class="text-right "><button type="button" class="btn btn-success" id="submit_button" >Success</button></div>

                                                    </div>
                            
                                                </div>
                            
                            
                            
                                            </div>
                            
                                        </div>
                            
                                    </div>
                            
                                </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container-fluid padding">
          <div class="row text-center">
            <div class="col-md-4">
              <hr class="light">
              <p>+91-9864599731</p>
              <p>abcd@abcd.com</p>
              <p>Tech City, 5th floor,</p>
              <p>Bangalore, Karnataka, **00**</p>
            </div>
            <div class="col-md-4">
              <hr class="light">
              <h5>Our hours</h5>
              <hr class="light">
              <p>Monday: 9am - 6pm</p>
              <p>saturday: 9am - 4pm</p>
              <p>sunday: closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our branch</h5>
                <hr class="light">
                <p>Bangalore,Karnataka, marathalli,**00**</p>
                <p>Hyderabad,Telangana, abcd tech park,**00**</p>
                <p>Pune, Maharashtra,infinte towers,**00**</p>
          </div>
          <div class="col-12">
            <hr class="light-100">
            <h5>Copyright &copy 2019 D-Coders</h5>
          </div>
        </div>
        
        
        </footer>
    
    <!-- Modals -->

    <!-- Add Page -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Page</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Page Title</label>
                            <input type="text" class="form-control" placeholder="Page Title">
                        </div>
                        <div class="form-group">
                            <label>Page Body</label>
                            <textarea name="editor1" class="form-control" placeholder="Page Body"></textarea>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Published
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Meta Tags</label>
                            <input type="text" class="form-control" placeholder="Add Some Tags...">
                        </div>
                        <div class="form-group">
                            <label>Meta Description</label>
                            <input type="text" class="form-control" placeholder="Add Meta Description...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>


    </script>

    <script>
        CKEDITOR.replace('editor1');
        // $("#add_button").click(function(){

        //     $(".panel-body").load("admin.html");
        // });


    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    

      <!-- PrefixFree -->
      <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
      <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
      <script
          src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

      <!-- <script src="js/index.js"></script> -->
      <script type="text/javascript">

          $(document).ready(function () {
              $('#res_form').bootstrapValidator({
                  // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
                  feedbackIcons: {
                      valid: 'glyphicon glyphicon-ok',
                      invalid: 'glyphicon glyphicon-remove',
                      validating: 'glyphicon glyphicon-refresh'
                  },
                  fields: {


                      employee_id: {
                          validators: {
                              notEmpty: {
                                  message: 'Please enter employee id'
                              }
                          }
                      },

                      employee_name: {
                          validators: {
                              stringLength: {
                                  min: 2,
                              },
                              notEmpty: {
                                  message: 'Please enter users employee name'
                              }
                          }
                      },

                     employee_batch: {
                          validators: {
                              stringLength: {
                                  min: 2,
                              },
                              notEmpty: {
                                  message: 'Please enter users batch name'
                              }
                          }
                      },

                      subject: {
                          validators: {
                              stringLength: {
                                  min: 2,
                              },
                              notEmpty: {
                                  message: 'Please enter subject'
                              }
                          }
                      },

                      marks: {
                          validators: {
                              stringLength: {
                                  min: 2,
                              },
                              notEmpty: {
                                  message: 'Please enter marks'
                              }
                          }
                      },

                           }
              });


          });

       console.log("control is a here");

      </script>

<script>

    var marksList = [];
    var vari = "string";
    $(document).ready(function () {

        $("#submit_button").hide();

        $("#get_info").click(function () {


            var tbl = '';
            tbl += '<table class="table table-hover" >'

            tbl += '<thead >';
            tbl += '<tr>';
            tbl += '<th>Employee Id</th>';
            tbl += '<th>Employee Name</th>';
            tbl += '<th>Marks</th>';
            tbl += '<th>Options</th>';
            tbl += '</tr>';
            tbl += '</thead>';

            tbl += '<tbody>';

            var batchName = $("#batch_name").val();

            var queryStr = "?batch=" + batchName;
            console.log(queryStr);

            $.ajax("http://localhost:3000/users/trainer/getEmployeesBatchWise" + queryStr, {

                dataType: "json", // type of response data
                type: "GET",
                success: function (data, status, xhr) {


                    console.log(data);






                    data.forEach(element => {

                        console.log(element);

                        var row_id = element.empno;

                        tbl += '<tr row_id="' + row_id + '">';
                        tbl += '<td ><div class="row_data" edit_type="click" col_name="empno">' + element.empno + '</div></td>';
                        tbl += '<td ><div class="row_data" edit_type="click" col_name="empName">' + element.empFirstName + " " + element.empLastName + '</div></td>';
                        tbl += '<td ><div class="row_data"  edit_type="click" col_name="empMarks">' + + '</div></td>';

                        //--->edit options > start
                        tbl += '<td>';

                        tbl += '<span class="btn_edit" > <a href="#" class="btn btn-primary btn-sm  row_id="' + row_id + '" > Edit</a> </span>';

                        //only show this button if edit button is clicked
                        tbl += '<span class="btn_save"> <a href="#" class="btn btn-primary btn-sm"  row_id="' + row_id + '"> Save</a> </span>';
                        // tbl += '<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="' + row_id + '"> Cancel</a> | </span>';

                        tbl += '</td>';
                        //--->edit options > end

                        tbl += '</tr>';


                    });


                    tbl += '</tbody>';
                    //--->create table body > end

                    tbl += '</table>'
                    //--->create data table > end

                    $(document).find('.tbl_user_data').html(tbl);

                    $(document).find('.btn_save').hide();



                    

                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback

                    $("#getPara").append('Error: ' + errorMessage);
                }
            });


            $("#submit_button").show();






        });







    });



</script>

<script>
    $(document).on('click', '.row_data', function (event) {

        event.preventDefault();

        if ($(this).attr('edit_type') == 'button') {

            return false;
        }


        //make div editable
        $(this).closest('div').attr('contenteditable', 'true');

        //add bg css
        $(this).addClass('bg-info').css('padding', '5px');

        $(this).focus();


    });


</script>

<script>

    $(document).on('click', '.btn_edit', function (event) {

        event.preventDefault();

        var table_row = $(this).closest('tr');

        table_row.find('.btn_save').show();
        table_row.find('.btn_edit').hide();


        //make the whole row editable
        table_row.find('.row_data')
            .attr('contenteditable', 'true')
            .attr('edit_type', 'button')
            .addClass('bg-info')
            .css('padding', '3px');


    });


</script>

<script>

    $(document).on('click', '.btn_save', function (event) {

        event.preventDefault();
        var table_row = $(this).closest('tr');
        console.log(vari);

        table_row.find('.btn_save').hide();
        table_row.find('.btn_edit').show();

        table_row.find('.row_data')
            .attr('edit_type', 'click')
            .removeClass('bg-warning')
            .css('padding', '');

        var empno = 0;
        var empName = "";
        var subjectMarks = "";

        table_row.find('.row_data').each(function (index, val) {

            var col_val = $(this).html();
            console.log(index + "          " + col_val);

            if (index == 0) {
                empno = col_val
            } else if (index == 1) {
                empName = col_val;
            } else {
                subjectMarks = col_val;
            }




        });


        var empBatch = $("#batch_name").val();

        var subjectName = $("#subject_name").val();

        console.log("shubham"+empBatch+" "+subjectName);

        var employeeMarks = {

            empno: empno,
            empName: empName,
            empBatch: empBatch,
            subjectList: [{

                subjectName: subjectName,
                subjectMarks: subjectMarks
            }]

        };


        for (var i = 0; i < marksList.length; i++) {
            if (marksList[i].empno == employeeMarks.empno) {
                marksList.splice(i, 1);
            }
        }

        marksList.push(employeeMarks);
        console.log(JSON.stringify(marksList));



    });


</script>
<script>
    $(document).ready(function () {

        $("#submit_button").click(function () {


            console.log(marksList);

            $.ajax("http://localhost:3000/users/trainer/postEmployeesMarks", {

                type: "POST",
                data: JSON.stringify(marksList),
                contentType: "application/json; charset=utf-8",
                success: function (data, status, xhr) {   // success callback function

                    console.log("In success");

                    //to make array clean after the submit button
                    marksList = [];
                    alert(xhr.status+" "+ "Data saved" );


                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback 
                    console.log("in error");
                }
            });





        });



    });    
</script>


   
 


</body>

</html>